@model User
@{
    ViewData["Title"] = "Main";
}

<form method="post" asp-controller="Home" asp-action="Check">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>

    <label asp-for="Surname"></label>
    <input asp-for="Surname" />
    <span asp-validation-for="Surname"></span>


    <input type="submit" value="send" />
</form>